<div class="container">
  <div class="row col-lg-12">
      <div class="col-md-4">
          <div class="card card-shadow" data-aos="flip-left" data-aos-duration="1200"><a href="#"><img class="card-img-top"
                src="../assets/images/blog/blog-home/img3.jpg" alt="wrappixel kit"></a>
            <div class="p-30">
              <div class="d-flex no-block font-14"><a href="#">Presidente</a><span class="ml-auto">Sept 18,
                  2017</span></div>
              <h5 class="font-medium m-t-20"><a href="#" class="link"> Presidente</a></h5>
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card card-shadow" data-aos="flip-left" data-aos-duration="1200"><a href="#"><img class="card-img-top"
                src="../assets/images/blog/blog-home/img3.jpg" alt="wrappixel kit"></a>
            <div class="p-30">
              <div class="d-flex no-block font-14"><a href="#">Presidente</a><span class="ml-auto">Sept 18,
                  2017</span></div>
              <h5 class="font-medium m-t-20"><a href="#" class="link"> Presidente</a></h5>
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card card-shadow" data-aos="flip-left" data-aos-duration="1200"><a href="#"><img class="card-img-top"
                src="../assets/images/blog/blog-home/img3.jpg" alt="wrappixel kit"></a>
            <div class="p-30">
              <div class="d-flex no-block font-14"><a href="#">Presidente</a><span class="ml-auto">Sept 18,
                  2017</span></div>
              <h5 class="font-medium m-t-20"><a href="#" class="link"> Presidente</a></h5>
            </div>
          </div>
      </div>
      
  </div>
  <div class="row col-lg-12">
      <div class="col-md-4">
          <div class="card card-shadow" data-aos="flip-left" data-aos-duration="1200"><a href="#"><img class="card-img-top"
                src="../assets/images/blog/blog-home/img3.jpg" alt="wrappixel kit"></a>
            <div class="p-30">
              <div class="d-flex no-block font-14"><a href="#">Presidente</a><span class="ml-auto">Sept 18,
                  2017</span></div>
              <h5 class="font-medium m-t-20"><a href="#" class="link"> Presidente</a></h5>
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card card-shadow" data-aos="flip-left" data-aos-duration="1200"><a href="#"><img class="card-img-top"
                src="../assets/images/blog/blog-home/img3.jpg" alt="wrappixel kit"></a>
            <div class="p-30">
              <div class="d-flex no-block font-14"><a href="#">Presidente</a><span class="ml-auto">Sept 18,
                  2017</span></div>
              <h5 class="font-medium m-t-20"><a href="#" class="link"> Presidente</a></h5>
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card card-shadow" data-aos="flip-left" data-aos-duration="1200"><a href="#"><img class="card-img-top"
                src="../assets/images/blog/blog-home/img3.jpg" alt="wrappixel kit"></a>
            <div class="p-30">
              <div class="d-flex no-block font-14"><a href="#">Presidente</a><span class="ml-auto">Sept 18,
                  2017</span></div>
              <h5 class="font-medium m-t-20"><a href="#" class="link"> Presidente</a></h5>
            </div>
          </div>
      </div>      
  </div>
</div>
