<div class="container">
  <div class="row col-lg-12 fila1">
    <!-- <div class="col-md-4">
      <div class="card card-shadow" data-aos="flip-left" data-aos-duration="1200">
        <img class="card-img-top persona" src="../../../assets/images/banderas/fc.JPG" alt="wrappixel kit">
        <div class="p-30">
          <div class="d-flex  font-34" data-dismiss="modal">

            <span class="ml-auto">
              
            </span>
          </div>
          <h5 class="font-medium m-t-20"> Presidente</h5>
        </div>
      </div>
    </div> -->
    <div class="col-sm-4 col-md-4 col-lg-4">
        <!-- normal -->
        <div class="effect eff-29 comi">
          <img src="../../../assets/images/banderas/fc.JPG" alt="img" class="comi">
            <div class="caption">
              <h4>
                <div class="bandera">
                  <img class="bandera" src="../../../assets/images/banderas/chile.png" alt="wrappixel kit">
                </div>
                Roberto Ignacio Contreras Olivares
              </h4>
                <div class="text">
                  <p>Presidente</p>
                </div>
              <a class="btn" href="">Curriculum</a>
            </div>
        </div>
        <!-- end normal -->
     </div>


     <div class="col-sm-4 col-md-4 col-lg-4">
        <!-- normal -->
        <div class="effect eff-29 comi">
          <img src="../../../assets/images/comisionados/paguirre.jpg" alt="img" class="comi">
            <div class="caption">
              <h4>
                <div class="bandera">
                  <img class="bandera" src="../../../assets/images/banderas/ecuador.png" alt="wrappixel kit">
                </div>
                María Paulina Aguirre Suárez
              </h4>
                <div class="text">
                  <p>Comisionado</p>
                </div>
              <a class="btn" href="">Curriculum </a>
            </div>
        </div>
        <!-- end normal -->
     </div>

    <!-- <div class="col-md-4">
      <div class="card card-shadow" data-aos="flip-left" data-aos-duration="1200">
        <img class="card-img-top persona rounded" src="" alt="wrappixel kit">
        <div class="p-30">
          <div class="d-flex no-block font-14">
        <img class="card-img-top bandera" src="" alt="wrappixel kit">
            <span class="ml-auto">María Paulina Aguirre Suárez</span>
          </div>
          <h5 class="font-medium m-t-20"><a href="#" class="link"> Comisionado</a></h5>
        </div>
      </div>
    </div> -->

    <div class="col-sm-4 col-md-4 col-lg-4">
        <!-- normal -->
        <div class="effect eff-29 comi">
          <img src="../../../assets/images/comisionados/maria_del_mar.jpg" alt="img" class="comi">
            <div class="caption">
              <h4>
                <div class="bandera">
                  <img class="bandera" src="../../../assets/images/banderas/españa.png" alt="wrappixel kit">
                </div>
                María del Mar Cabrejas Guijarro
              </h4>
                <div class="text">
                  <p>Comisionado</p>
                </div>
              <a class="btn" href="">Curriculum </a>
            </div>
        </div>
        <!-- end normal -->
     </div>

    <!-- <div class="col-md-4">
      <div class="card card-shadow" data-aos="flip-left" data-aos-duration="1200">
        <img class="card-img-top persona" src="../../../assets/images/comisionados/maria_del_mar.jpg" alt="wrappixel kit">
        <div class="p-30">
          <div class="d-flex no-block font-14">
        <img class="card-img-top bandera" src="../../../assets/images/banderas/españa.png" alt="wrappixel kit">
            <span class="ml-auto">María del Mar Cabrejas Guijarro</span>
          </div>
          <h5 class="font-medium m-t-20"><a href="#" class="link"> Comisionado</a></h5>
        </div>
      </div>
    </div> -->
  </div>

  <br>

  <div class="row col-lg-12 fila2">

    <!-- <div class="col-md-4">
      <div class="card card-shadow" data-aos="flip-left" data-aos-duration="1200">
        <img class="card-img-top persona" src="../../../assets/images/comisionados/alma_mendez.png" alt="wrappixel kit">
        <div class="p-30">
          <div class="d-flex no-block font-14">
        <img class="card-img-top bandera" src="../../../assets/images/banderas/paraguay.png" alt="wrappixel kit">

            <span class="ml-auto">Alma María Méndez de Buongermini</span>
          </div>
          <h5 class="font-medium m-t-20"><a href="#" class="link"> Comisionado</a></h5>
        </div>
      </div>
    </div> -->

    <div class="col-sm-4 col-md-4 col-lg-4">
        <!-- normal -->
        <div class="effect eff-29 comi">
          <img src="../../../assets/images/comisionados/alma_mendez.png" alt="img" class="comi">
            <div class="caption">
              <h4>
                <div class="bandera">
                  <img class="bandera" src="../../../assets/images/banderas/paraguay.png" alt="wrappixel kit">
                </div>
                Alma María Méndez de Buongermini
              </h4>
                <div class="text">
                  <p>Comisionado</p>
                </div>
              <a class="btn" href="">Curriculum </a>
            </div>
        </div>
        <!-- end normal -->
     </div>




    <!-- <div class="col-md-4">
      <div class="card card-shadow" data-aos="flip-left" data-aos-duration="1200">
        <img class="card-img-top persona" src="../../../assets/images/comisionados/adda_venegas.JPG" alt="wrappixel kit">
        <div class="p-30">
          <div class="d-flex no-block font-14">
        <img class="card-img-top bandera" src="../../../assets/images/banderas/nicaragua.png" alt="wrappixel kit">

            <span class="ml-auto">Adda Benecia Venegas Ramos</span>
          </div>
          <h5 class="font-medium m-t-20"><a href="#" class="link"> Comisionado</a></h5>
        </div>
      </div>
    </div> -->

    <div class="col-sm-4 col-md-4 col-lg-4">
        <!-- normal -->
        <div class="effect eff-29 comi">
          <img src="../../../assets/images/comisionados/adda_venegas.JPG" alt="img" class="comi">
            <div class="caption">
              <h4>
                <div class="bandera">
                  <img class="bandera" src="../../../assets/images/banderas/nicaragua.png" alt="wrappixel kit">
                </div>
                Adda Benecia Venegas Ramos
              </h4>
                <div class="text">
                  <p>Comisionado</p>
                </div>
              <a class="btn" href="">Curriculum</a>
            </div>
        </div>
        <!-- end normal -->
     </div>





    <!-- <div class="col-md-4">
      <div class="card card-shadow" data-aos="flip-left" data-aos-duration="1200">
        <img class="card-img-top persona" src="../../../assets/images/comisionados/ranulfo_rojas.jpg" alt="wrappixel kit">
        <div class="p-30">
          <div class="d-flex no-block font-14">
        <img class="card-img-top bandera" src="../../../assets/images/banderas/guatemala.png" alt="wrappixel kit">
            <span class="ml-auto">Ranulfo Rafael Rojas Cetina</span>
          </div>
          <h5 class="font-medium m-t-20"><a href="#" class="link"> Comisionado</a></h5>
        </div>
      </div>
    </div> -->

    <div class="col-sm-4 col-md-4 col-lg-4">
        <!-- normal -->
        <div class="effect eff-29 comi">
          <img src="../../../assets/images/comisionados/ranulfo_rojas.jpg" alt="img" class="comi">
            <div class="caption">
              <h4>
                <div class="bandera">
                  <img class="bandera" src="../../../assets/images/banderas/guatemala.png" alt="wrappixel kit">
                </div>
                Ranulfo Rafael Rojas Cetina
              </h4>
                <div class="text">
                  <p>Comisionado</p>
                </div>
              <a class="btn" href="">Curriculum </a>
            </div>
        </div>
        <!-- end normal -->
     </div>
  </div>
</div>


<div class="modal left fade">
  <div class="modal-dialog">

  </div>
</div>