<div class="container">
    <div class="row col-lg-12 secretaria d-flex justify-content-center">
        <div class="col-sm-4 col-md-4 col-lg-4 hover">
            <!-- normal -->
            <div class="effect eff-29 comi">
              <img src="../../../assets/images/comisionados/fc2.jpg" alt="img" class="comi">
                <div class="caption">
                  <div class="text">
                      <h3>
                        Roberto Ignacio Contreras Olivares
                      </h3>
                        <p>Ministro Presidente</p>
                        <!-- <em>Email: <span>gurra@pjud.cl</span></em> <br> -->
                        <!-- <em><a href="tel:+56225196609" ><i class="icon-Phone-2"></i> + 56 22 51 96 609</a></em> -->
                  </div>
                  <a class="btn" href="">Curriculum </a>
                </div>
            </div>
            <!-- end normal -->
         </div>
    </div>


    <div class="row col-lg-12 secretaria">

        <div class="col-sm-4 col-md-4 col-lg-4">
            <!-- normal -->
            <div class="effect eff-29 comi">
              <img src="../../../assets/images/comisionados/georgette-1.jpg" alt="img" class="comi">
                <div class="caption">
                  <div class="text">
                      <h3>
                        Georgette Urra Garcia
                      </h3>
                      <h5 class="font-medium m-t-20"> Abogada </h5>
                      <em>Email: <span>gurra@pjud.cl</span></em> <br>
                      <em><a href="tel:+56225196609" ><i class="icon-Phone-2"></i> + 56 22 51 96 609</a></em>
                  </div>
                  <a class="btn" href="">Curriculum </a>
                </div>
            </div>
            <!-- end normal -->
         </div>

      
      

      <div class="col-sm-4 col-md-4 col-lg-4">
          <!-- normal -->
          <div class="effect eff-29 comi">
            <img src="../../../assets/images/comisionados/rodrigo.jpg" alt="img" class="comi">
              <div class="caption">
                <div class="text">
                    <h3>
                        Rodrigo Emilio Jeldes Ponce
                    </h3>
                    <h5 class="font-medium m-t-20"> 
                      Ingeniero Informático, 
                      Docente, 
                      Licenciado en Educación 
                    </h5>
                    <em>Email: <span>rjeldesp@pjud.cl</span> </em> <br>
                    <em><a href="tel:+56225196650" ><i class="icon-Phone-2"></i> + 56 22 51 96 650</a>   </em>
                </div>
                <a class="btn" href="">Curriculum </a>
              </div>
          </div>
          <!-- end normal -->

       </div>

       <div class="col-sm-4 col-md-4 col-lg-4">
          <!-- normal -->
          <div class="effect eff-29 comi">
            <img src="../../../assets/images/comisionados/ap.jpeg" alt="img" class="comi">
              <div class="caption">
                <div class="text">
                    <h3>
                        Andrea Cecilia Sanhueza Lucero
                    </h3>
                    <h5 class="font-medium m-t-20">Abogada</h5>
                    <em>Email: <span>asanhuezal@pjud.cl</span> </em>
                    <br>
                    <em><a href="tel:+56225196634" ><i class="icon-Phone-2"></i> + 56 22 51 96 634</a>   </em>
                </div>
                <a class="btn" href="">Curriculum </a>
              </div>
          </div>
          <!-- end normal -->
       </div>
    </div>
  </div>
  

