


<div class="container">
    <div class="row col-md-12 col-lg-12">
      <div class="card mb-4 col-md-5 col-lg-5">
          <img src="../../../assets/img_ttd/noticias/n1.png" class="card-img-top justify-content-center" alt="...">
          <div class="card-body">
            <h5 class="card-title">
                MINISTRO ROBERTO CONTRERAS ENCABEZA JORNADA DE CAPACITACIÓN Y SENSIBILIZACIÓN CON ENFOQUE DE TRIBUNALES DE TRATAMIENTO DE DROGAS
            </h5>
            <p class="card-text">
                MINISTRO ROBERTO CONTRERAS ENCABEZA JORNADA DE CAPACITACIÓN Y SENSIBILIZACIÓN CON ENFOQUE DE TRIBUNALES
                DE TRATAMIENTO DE DROGAS Jueces de Garantía, fiscales, defensores y profesionales del Servicio Nacional 
                para la Prevención y Rehabilitación del Consumo de Drogas y Alcohol (SENDA) participaron …
            </p>
            <p class="card-text">
              <small class="text-muted">
                SEPTIEMBRE 26, 2018 TTD EN CHILE
              </small>
            </p>
          </div>
      </div>

        <div class="card mb-4 col-md-5 col-lg-5">
            <img src="../../../assets/img_ttd/noticias/n2.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> 
                  MINISTRO ROBERTO CONTRERAS DICTA CONFERENCIA EN CONGRESO SOBRE JUSTICIA RESTAURATIVA REALIZADO EN ESPAÑA
              </h5>
              <p class="card-text">
                  El ministro de la Corte de Apelaciones de San Miguel Roberto Contreras Olivares dictó una conferencia 
                  en el marco del “Congreso internacional de justicia restaurativa: una justicia para las víctimas”, 
                  efectuado en Madrid, España, en su calidad de presidente de ...
              </p>
              <p class="card-text">
                <small class="text-muted">
                    SEPTIEMBRE 28, 2018 COMISIÓN MARC-TTD, CUMBRE JUDICIAL IBEROAMERICANA
                </small>
              </p>
            </div>
        </div>
    </div>
  </div>